body{
    background-color: aliceblue;
    font-family: 'Raleway', sans-serif;
}

h1{
    background-color: lightsalmon;
    line-height: 1.5;
}

#show_sketch{
    float: right;
    margin: 8px;
    margin-top: 8px;
    
}

p{
    font-size: 22px;
}

#clear_btn:hover{
    background-color: lightsalmon;
}

canvas{
    border-radius: 15px;
    border: 5px solid lightsalmon;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 5px 5px 30px brown;}
    to{box-shadow: 5px 5px 30px lightcoral;}
}
